.buslandingbar {
    margin-left: -53px;
  }
  .text-input,
  .date-input,
  .time-input,
  .select-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box; 
  }
  .text-input::placeholder,
  .date-input::placeholder,
  .time-input::placeholder {
    color: #888;
  }
  .select-input {
    background-color: #fff;
    cursor: pointer;
  }
  button {
    font-size: 16px;
  }

  .busland {
    color: aliceblue;
    text-decoration: underline;
  }

  .buslandtwo {
    color: aliceblue;
  }