.btn_asLink {
  background: none !important;
  border: none !important;
  color: blue !important;
  text-decoration: underline !important;
  padding: 0 !important;
  font-size: inherit !important;
  font-family: inherit !important;
}

.btn_asLink:hover {
  color: darkblue !important;
}